@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


body {
	background-color: #6892c9;
	/*margin: 0 0 20px 0;*/
	padding-bottom: 80px;
}

#title {
	font-family: "Roboto";
	font-weight: 900;
	color: white;

}

#title #t {
	font-size: 120px;
	display: block;
	/*text-shadow: 20px 10px 90px rgba(0, 0, 0, 0.3);*/

}

#title #n {
	font-size: 120px;
	display: block;
	/*text-shadow: 20px 10px 90px rgba(0, 0, 0, 0.3);*/
	margin-top: -60px;
}

#title #v {
	font-size: 120px;
	display: inline-block;
	/*text-shadow: 20px 10px 90px rgba(0, 0, 0, 0.3);*/
	margin: -60px 15px 0px 0;
	
	color: #ff5b9e;
}

#title #p {
	font-size: 120px;
	display: inline-block;
	/*text-shadow: 20px 10px 90px rgba(0, 0, 0, 0.3);*/
	margin: -60px 0 5px 0;
	
	color: #ff5b9e;
}

#badges {	
	display: block;
	position: relative;
}

#badges img{
	height: 12px;	
	vertical-align: baseline;	
}

.badge {
	line-height: 1;
	border-radius: 6px;
	padding: 5px;
	background-color: #d2c2fd;
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0.4), /*bottom internal shadow*/ inset 0 1px 1px rgba(255,255,255,0.6); /*top internal highlight*/
}

a.badge, span.badge  {
	color: black;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 12px;
}

#intro {
	margin: 30px 0 0 0;
	font-size: 1.4em;
	color: white;

}

h1 {
	color: white;
	font-family: sans-serif;
	font-weight: 600;
	font-size: 1.6em;
}

.credits {
margin: 15px 0 0 0;
} 

.credits p {
	color: white;
	font-family: sans-serif;
	font-size: 0.8em;
	margin: 0;
	padding: 0;

}

.credits h2 {
	color: white;
	font-family: sans-serif;
	font-size: 1em;
}

.credits a {
	color: white;
}

#myvid {
	width: 100%;
	max-width: 1000px;
}

#setting-up-nvp {}

.classic-paragraph p{
	color: white;
	font-family: sans-serif;
	font-size: 1em;
	/*margin: 0;
	padding: 0;*/
}

.classic-paragraph h1{
	margin-top: 50px;
}




.code {
	color: white;
	font-size: 1em;
	background-color: #2b4676;
	border-radius: 6px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;   
	overflow: hidden;   
	max-width: 900px; 
	padding: 10px 0 0 0;
}

.strong {
	font-weight: bold;
}